@import "blocks/Recipe";

body {
  margin: 15px;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container {
  width: 70%;
}

.button {
  display: inline;
  border-radius: 5px;
  padding: 7px 25px;

  &-delete {
    background-color: red;
    color: white;
    position: fixed;
    right: 5%;
    bottom: 30px;

    &:hover {
      cursor: pointer;
      background-color: rgb(215, 0, 0);
    }
  }
}

.beers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.beer {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.2);

  &.highlighted {
    box-shadow: 0 2px 8px rgba(0, 51, 255, 0.93), 0 4px 6px rgba(50, 40, 234, 0.2);
  }
}

.beer_img {
  display: flex;
  width: 10%;
  margin-right: 20px;

  &:hover {
    cursor: pointer;
  }

  img {
    max-height: 150px;
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 5px;
    margin: 0 auto;
  }
}


.beer_content {
  width: 50%;
}

.beer_title {
  font-size: 18px;
  font-weight: bold;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.beer_tagline {
  font-size: 14px;
  margin-bottom: 5px;
}

.beer_abv,
.beer_ibu {
  font-size: 12px;
  color: #888;
}


.beer_ingredients {
  width: 40%;
}

.beer_ingredients_title {
  text-decoration: underline;
  margin-bottom: 5px;

  &:hover {
    cursor: pointer;
  }

  &::after {
    content: "";
    display: inline-block;
    margin-left: 7px;
    padding-top: 2px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 4px 0 4px;
    border-color: black transparent transparent transparent;
  }

  &.active {
    text-decoration: none;

    &::after {
      position: relative;
      top: -3px;
      border-width: 0 4px 4px 4px;
      border-color: transparent transparent black transparent;
    }
  }
}

.beer_ingredients_content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease-in-out, max-height 0.5s ease-in-out;

  &.visible {
    opacity: 1;
    max-height: 1000px;
  }
}


.beer_ingredients_table {
  font-size: 14px;


  &-type{
    margin-bottom: 5px;
  }
}

.beer_ingredients_row {
  display: flex;
  justify-content: space-between;
}